main {
       text-align: center;
      
}

.item-pacotes {
    
    display: inline-block;
    margin: 50px;
    border: 1px solid #8697A6;  


}

.item-pacotes a {
    text-decoration: none;
    font-weight: bold;
    color: #1B4F72; 


}

@media only screen and (max-width: 530px) {
    form {
    padding: 12px;    
    width: 80%;
    }
    
    .container { 
        display: flex;
        flex-direction: column;    
        margin: 36px;    
        padding: 160px 0px;             
    }

    body {
        margin:  -20px;
    }


}

